.container {
    width: 1080px;
    margin: 0px auto;
}

.top-banner {
    background-color: #4ea0ff;
    background-image: url('../img/pattern.png');
    height: 70px;
    background-size: 25% ;
    font-family: 'Rubik', sans-serif;
    color: #fff;
    text-shadow: 1px 1px 2px black;
    font-size: 1.5rem;
}

h1 {
    margin-bottom: 0px;
}

#wrote-by {
    color: #808080;
}
#wrote-by>span {
    color: #3cb8ec;;
}

figure {
    margin-left: 0px;    
    margin-bottom: 0px;    
}
